.App {
  margin: 15%;
  margin-top: 3%;
}

.topnav {
  background-color: rgb(250, 195, 82);
  overflow: hidden;
}

.noStyleButton {
    background: none;
    border: none;
    cursor: pointer;
    font-family: monospace;
    margin: 0;
}

body {
  font-family: monospace;
}