#result {
    margin-top: 1%
}

.infoList {
  padding-left: 0;
  margin-left: 15%;
  margin-right: 15%;
  list-style-type: none;
}

.infoValue {
  float: right;
}

.infoTitle {
  text-align: center;
}

.noStyleButton {
    background: none;
    border: none;
    cursor: pointer;
    font-family: monospace;
    margin: 0;
}

.noStyleButton:hover {
    text-decoration: underline;
}
